.link {
  display: flex;
  width: fit-content;
  align-items: cover;
  cursor: pointer;
  border-radius: 30px;
  color: black;
  padding: 0px;
  margin: 10px 0;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.link:hover {
  background-color: #e8f5fe;
  color: #50b7f5;
  transition: color 100ms ease-out;
  text-decoration: none;
}
.navlink {
  font-weight: 600;
  font-size: 20px;
  margin-right: 22px;
  margin-top: 16px;
  text-decoration: none;
}
.MuiSvgIcon-root {
  padding: 15px;
  padding-right: 10px;
  text-decoration: none;
}
